// Paleta de colores
$color-primario: #0B1957;
$color-secundario: #9ECCFA;
$color-acento: #6c5ce7;
$color-acento-hover: #4834d4;
$color-fondo: #F8F3EA;
$color-claro: #E6D8C7;
$color-texto: #333;
$color-link: #6cacc5;